<h1>New session</h1>

<form action="/session" method="POST" >
  <input type="hidden"
    name="authenticity_token"
    value="<%=form_authenticity_token %>">

  <label>username
    <input name="user[username]">
  </label>

  <label>password
    <input name="user[password]">
  </label>

  <input type="submit" value="Login user" />

</form>
